---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

.content {
  font-size: $custom-font-size;
}

/** Site Theming */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
@mixin for-big-desktop-down {
	@media (max-width: 1799px) { @content; }
}
@mixin for-desktop-down {
	@media (max-width: 1199px) { @content; }
}
@mixin for-tablet-landscape-down {
	@media (max-width: 899px) { @content; }
}

body {
	font-family: "Roboto Mono", monospace;
}

h1 {
	font-size: 3.2vmax;
		@include for-big-desktop-down {
			font-size: 3.4vmax;
		}
		@include for-desktop-down {
			font-size: 3.8vmax;
		}
		@include for-tablet-landscape-down {
			font-size: 4.1vmax;
		}
		@include for-phone-only {
			font-size: 4.4vmax;
		}
}

p, td, li {
	font-size: 0.9vmax;

		@include for-big-desktop-down {
			font-size: 1.3vmax;
		}
		@include for-desktop-down {
			font-size: 1.5vmax;
		}
		@include for-tablet-landscape-down {
			font-size: 1.7vmax;
		}
		@include for-phone-only {
			font-size: 1.6vmax;
		}
}

h2 {
	font-size: 1.3vmax;

		@include for-big-desktop-down {
			font-size: 1.5vmax;
		}
		@include for-desktop-down {
			font-size: 1.9vmax;
		}
		@include for-tablet-landscape-down {
			font-size: 2.2vmax;
		}
		@include for-phone-only {
			font-size: 2.0vmax;
		}
}

h3 {
	font-size: 1.4vmax;
	margin-bottom: 0;
	@include for-phone-only {
		font-size: 3.5vmin;
	}
}


header {
	background: red;
	font-size: 0.8vmax;
	height: 5vh;
	position: fixed;
	text-align:center;
	width:100%;
	z-index: 100000;
}

footer {
	display: inline-block;
	font-size: 1.1vmax;
	height: 5vh;
	margin-top: auto;
	text-align: center;
	width:100%;
	@include for-phone-only {
		font-size: 2.25vmin;
		width: 100%;
	}
}

nav {
		background: lightgrey;
		height: 5%;
		max-height: 80px;
		position: fixed;
		width: 100%;
		z-index: 1000;
}

nav ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

nav > ul {
	margin: 0%;
	padding: 0%;
}
nav ul li {

	display: inline;
	margin: 0 5px;

}

nav ul ul {
	margin-left: 5%;
	padding: 0;
}

nav ul li a:link, nav ul li a:visited {
	color: black;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;              /* disable callout, image save panel (popup) */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

a:focus {
  outline: 0; // Firefox (remove border on link click)
}

.border {
	display: inline-block;
	background-color: dimgrey;
	height: 3%;
	width: 100%;
}

.xlarge {
	box-sizing: border-box;
	height: 95vh !important;
	padding-top: 35vh !important;
}

.cards {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	width: 100%;

}

.content {
	box-sizing: border-box;
	min-height: 75vh;
	padding: 0 2vw;
}

.small {
	height: 15vh;
}



.spacer {
	height: 5vmax;
}

.ptextcenter {
	left:50%;
	position: relative;
	top:50%;
	transform: translate(-50%, -50%);

}

.header {
	background-color: whitesmoke;
	margin-top: 5vh;
}

.textbg {
	background-color: rgba(255,255,255,0.60);
}

#main_content {}

.background {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#personal {
	background-image: url("/assets/images/desktopblur.jpg");
}

#backgroundtext {
	background-image: url("/assets/images/code.png");
}

#servicestext {
	box-sizing: border-box;
	background-image: url("/assets/images/spreadsheet.png");
	padding-top: 25vh;
}

#portfolio1{
	background-image: url("/assets/images/OS.png");
}

#portfolio2 {
	background-image: url("/assets/images/KICC.png");
	box-sizing: border-box;
}

#portfolio3 {
	background-image: url("/assets/images/Ichno.png");
	box-sizing: border-box;
}

#portfolio h1 {
	margin: 0;
	padding: 0;
}

#personal h1 {
	font-size: 7vmax;
	font-weight: normal;
	@include for-phone-only {
		font-size: 10vmin;
	}
}

#serviceslist {
	font-size: 1.1vmax;
	list-style-type: none;
	margin: 1% 0;

	@include for-phone-only {
		font-size: 2.25vmin;
	}
}
