---
---
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

.content {
  font-size: $custom-font-size;
}

/** Site Theming */
body {
	font-family: "Roboto Mono", monospace;
}

h1 {
	@include media-breakpoint-down(xs) {
		font-size: 1.75rem;
	}
}

p, td, li {
	@include media-breakpoint-down(xs) {
		font-size: 0.8rem;
	}
}

h2 {
	@include media-breakpoint-down(xs) {
		font-size: 1.50rem;
	}
}

h3 {
	@include media-breakpoint-down(xs) {
		font-size: 1.25rem;
	}
}

h4 {
	@include media-breakpoint-down(xs) {
		font-size: 1.00rem;
	}
}


.navbar {
		min-height: 50px;
}

nav ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

nav > ul {
	margin: 0%;
	padding: 0%;
}
nav ul li {

	display: inline;
	margin: 0 5px;

}

nav ul ul {
	margin-left: 5%;
	padding: 0;
}

nav ul li a:link, nav ul li a:visited {
	color: black;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;              /* disable callout, image save panel (popup) */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

a:focus {
  outline: 0; // Firefox (remove border on link click)
}

footer {
	display: block;
	min-height: 50px;
	overflow: hidden;
}

.footer {
	height: 100%;
}

.border {
	margin: 0;
	padding: 0;
	background-color: #343a40;
}


.cards {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	width: 100%;

}

.content {
	box-sizing: border-box;
	min-height: 75vh;
	padding: 0 2vw;
}

.header {
	min-height: 150px;
}

.huge {
	font-size: 4.5rem;
	@include media-breakpoint-down(xs) {
		font-size: 3.0rem;
	}
}

.textbg {
	background-color: rgba(255,255,255,0.70);
}

.background {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
}

#personal {
	background-image: url("/assets/images/desktopblur.jpg");
}

#backgroundtext {
	background-image: url("/assets/images/code.png");
}

#servicestext {
	box-sizing: border-box;
	background-image: url("/assets/images/spreadsheet.png");
}

#portfolio1{
	background-image: url("/assets/images/OS.png");
	border-bottom: 5vh solid #343a40;;
}

#portfolio2 {
	background-image: url("/assets/images/KICC.png");
	border-bottom: 5vh solid #343a40;;
}

#portfolio3 {
	background-image: url("/assets/images/Ichno.png");
	box-sizing: border-box;
}

#serviceslist {
	list-style-type: none;
	margin: 1% 0;
}
