---
---
@import "{{ site.theme }}";

/** Site Theming */

header {
	background: red;
	font-size: 1.75vmin;
	height: 5%;
	position: fixed;
	text-align:center;
	width:100%;
	z-index: 100000;
}

#main_content {}

.cards {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.large {
	height: 100%;
}


.medium {
	height: 50%;
}

.small {
	height: 20%;
}

#personal {
	background-color: cyan;
}

#services {
	background-color: grey;
}
#portfolio, #portfolio1, #portfolio2, #portfolio3{
	background-color: green;
}
#portfolio_heading {
	font-size: 8vmin;
}

.ptext {
	left:50%;
	position: relative;
	top:50%;
	transform: translate(-50%, -50%);
	padding: 0 5%;
}

.ptext h1 {
	font-size: 5vmin;
}

.ptext h3 {
	font-size: 3vmin;
}

.ptext p {
	font-size: 2vmin;
}

#personal h1 {
	font-size: 12vmin;
}

